<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
    <style> 
        a{
            color: rgb(173, 78, 146);
        }

        body{
            background-color: rgb(237, 250, 49);
        }
    </style>
  </head>
  <body>
    <h1>Options:</h1>
        <h3>
            <ul>
            <li><a href="/showall"> Show all items </a> </li>
            <li><a href="/filter"> Filter items by price </a></li>
            <li><a href="/search"> Search item by name </a> </li> 
            <!-- <li><a href="/rating"> Give rating for items </a> </li> -->
        </ul>
        </h3>
  </body>
</html>
