<html>
    <head>
        <title> My Shop</title>
        
    <style>
      body{
        background-color: rgb(237, 250, 49);
      }
    </style>
    <body class="d-flex h-100 text-center text-bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="mb-auto">
            <div>
              <h3 class="float-md-start mb-0">Online Shop</h3>
            </div>
          </header>
        
          <main class="px-3">
            <h1>Welcome!</h1>
            <div class="main">
              <!-- <input type="text" name="title" id="title" placeholder="Username" class="form-control"> <br>
              <input type="password" name="title" id="title" placeholder="Password" class="form-control"> <br> -->

            </div>

            <button onclick="window.location.href='/register'"  class="btn btn-warning"> Register</button> 
            <button onclick="window.location.href='/login'" class="btn btn-warning"> Log in </button>
          </main>
        </div>
    </body>
</html>